<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inscription</title>
  <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div th:if="${errorMessage}" style="color: red; margin-bottom: 16px;">
  <span th:text="${errorMessage}"></span>
</div>

<div class="register-container">
  <div class="register-title">Créer un compte</div>

  <form method="post" th:action="@{/register}">
    <div class="input-field">
      <label class="input-label" for="userName">Nom d'utilisateur</label>
      <input class="input-control" type="text" id="userName" name="userName" required
             th:value="${user?.userName}">
    </div>
    <div class="input-field">
      <label class="input-label" for="lastName">Nom</label>
      <input class="input-control" type="text" id="lastName" name="lastName" required
             th:value="${user?.lastName}">
    </div>
    <div class="input-field">
      <label class="input-label" for="firstName">Prénom</label>
      <input class="input-control" type="text" id="firstName" name="firstName" required
             th:value="${user?.firstName}">
    </div>
    <div class="input-field">
      <label class="input-label" for="email">Email</label>
      <input class="input-control" type="email" id="email" name="email" required
             th:value="${user?.email}">
    </div>
    <div class="input-field">
      <label class="input-label" for="password">Mot de passe</label>
      <input class="input-control" type="password" id="password" name="password" required>
    </div>
    <div class="input-field">
      <label class="input-label" for="confirmPassword">Confirmer le mot de passe</label>
      <input class="input-control" type="password" id="confirmPassword" name="confirmPassword" required>
    </div>

    <button class="button-register" type="submit">
      S'inscrire
    </button>
  </form>
</div>
</body>
</html>
